/*style.css*/
html,body {
    height: 100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    background-color: #272b30;
}
.total_left{
    width: 14%;
    height: 100%;
    float: left;
    padding-left: 1%;
}
.title{
    text-align: left;
    width: 100%;
    height: 10%;
    color: azure;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 5px;
}
.search1 input{
    margin-top: 30px;
    color: #f2f2f2;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: slategrey;
    text-align: center;
    font-size: 15px;
}
.search2 input{
    margin-top: 10px;
    color: #f2f2f2;
    height: 35px;
    width: 130px;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    outline: none;
    background-color: slategrey;
    text-align: center;
    font-size: 15px;

}
.indicator{
    margin-top: 30px;
    margin-left: 5px;
    color: #f2f2f2;
    font-size: 16px;
    font-family: "Microsoft YaHei UI";
}
.indicator span {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-right: 8px;
    margin-top: 5px;
}
.svg{
    position: relative;
    width: 83%;
    height: 100%;
    float: right;
}
.svg1{
    width: 100%;
    height: 100%;
}
.info{
    position: absolute;
    top: 10px;
    right: 30px;
    width: 380px;
    text-align: left;
}
.mode{
    margin-top: 30px;
}
.mode span{
    display: inline-block;
    border: 1.5px solid #E6E6E6;
    color: #E6E6E6;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 15px;
    transition: color, background-color .4s;
}
.info h4{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    margin: 0 auto;
    font-size: 15px;

}
.info h5{
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
}

/*活动属性*/
/*非悬浮消失事件*/
.texts text.inactive {
    opacity: 0.15;
}
.nodes circle.inactive {
    opacity: 0.15;
}
.links line.inactive {
    stroke-opacity: 0.05;
}
.texts text:hover{
    cursor:pointer;
}
#mode span.active,#mode span:hover{
    background-color: white;
    color: #333;
    cursor: pointer;
}
.links line{
    stroke: #fff;
    stroke-opacity: 0.5;
}
.nodes circle{
    stroke: #fff;
    stroke-width:0.3px;
}
.texts text{
    display: none;
}

.mode span:hover{
    background-color: white;
    color: #333;
    cursor: pointer;
}